<!doctype html>
<html>
  <head>

    <link rel="manifest" href="manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#003049">

    <link rel="icon" type="image/png" sizes="192x192" href="https://i.imgur.com/zvd5wgV.png">
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="https://i.imgur.com/zvd5wgV.png">


    <meta property="og:title" content="Harp Reference">
    <meta property="og:site_name" content="Harpr">
    <meta property="og:url" content="https://harpr.org">
    <meta property="og:description" content="A tool for referencing diatonic harmonica layouts, positions, and song keys.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://i.imgur.com/FTwR9yL.png">



    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_tag 'images/favicon.png' %>
    <title>Harp Reference - Note layouts, positions, and song keys.</title>
    <meta name="description" content="A tool for referencing diatonic harmonica layouts, positions, and song keys."/>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      window.addEventListener('load', async e => {
        if ('serviceWorker' in navigator) {
            scope: '.'
            try {
                navigator.serviceWorker.register('serviceWorker.js');
                console.log('SW registered');

            } catch (error) {
                console.log('SW failed');

            }
        }
    });
    </script>
  </body>
</html>
