
  <div class="reed">
    <div class="number circle-text">1</div>
    <div class="number circle-text">2</div>
    <div class="number circle-text">3</div>
    <div class="number circle-text">4</div>
    <div class="number circle-text">5</div>
    <div class="number circle-text">6</div>
    <div class="number circle-text">7</div>
    <div class="number circle-text">8</div>
    <div class="number circle-text">9</div>
    <div class="number circle-text">10</div>
  </div>

  <div class="reed">
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="blow-bend circle-text"><p class = "note">Bb</p></div>
  </div>


  <div class="reed">
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="blow-bend circle-text"><p class = "note">Eb</p></div>
    <div class="blow-bend circle-text"><p class = "note">F#</p></div>
    <div class="blow-bend circle-text"><p class = "note">B</p></div>
  </div>

  <div class="reed">
    <div class="blow circle-text"><p class = "note">C</p></div>
    <div class="blow circle-text"><p class = "note">E</p></div>
    <div class="blow circle-text"><p class = "note">G</p></div>
    <div class="blow circle-text"><p class = "note">C</p></div>
    <div class="blow circle-text"><p class = "note">E</p></div>
    <div class="blow circle-text"><p class = "note">G</p></div>
    <div class="blow circle-text"><p class = "note">C</p></div>
    <div class="blow circle-text"><p class = "note">E</p></div>
    <div class="blow circle-text"><p class = "note">G</p></div>
    <div class="blow circle-text"><p class = "note">C</p></div>
  </div>

  <div class="reed">
    <div class="draw circle-text"><p class = "note">D</p></div>
    <div class="draw circle-text"><p class = "note">G</p></div>
    <div class="draw circle-text"><p class = "note">B</p></div>
    <div class="draw circle-text"><p class = "note">D</p></div>
    <div class="draw circle-text"><p class = "note">F</p></div>
    <div class="draw circle-text"><p class = "note">A</p></div>
    <div class="draw circle-text"><p class = "note">B</p></div>
    <div class="draw circle-text"><p class = "note">D</p></div>
    <div class="draw circle-text"><p class = "note">F</p></div>
    <div class="draw circle-text"><p class = "note">A</p></div>
  </div>

  <div class="reed">
    <div class="draw-bend circle-text"><p class = "note">C#</p></div>
    <div class="draw-bend circle-text"><p class = "note">F#</p></div>
    <div class="draw-bend circle-text"><p class = "note">Bb</p></div>
    <div class="draw-bend circle-text"><p class = "note">C#</p></div>
    <div class="circle-text invisible"></div>
    <div class="draw-bend circle-text"><p class = "note">Ab</p></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
  </div>

  <div class="reed">
    <div class="circle-text invisible"></div>
    <div class="draw-bend circle-text"><p class = "note">F</p></div>
    <div class="draw-bend circle-text"><p class = "note">A</p></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
  </div>

  <div class="reed">
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="draw-bend circle-text"><p class = "note">Ab</p></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
    <div class="circle-text invisible"></div>
  </div>
