<div class="control-group" id="radio-container">

  <label class="control control--radio">Display default
    <input type="radio" name="radio" checked="checked" id="defaultRadio"/>
    <div class="control__indicator"></div>
  </label>

  <label class="control control--radio">Display only sharps
    <input type="radio" name="radio" id="sharpsRadio"/>
    <div class="control__indicator"></div>
  </label>

  <label class="control control--radio">Display only flats
    <input type="radio" name="radio" id="flatsRadio"/>
    <div class="control__indicator"></div>
  </label>

</div>
