body {
  margin: 0;
  font-family: $body-font;
}

p {
  font-family: $body-font
}

html {
  background-color: #FFFFFF;
}

.invisible {
  background: transparent;
  box-shadow: none;
}

#pos-button, #song-button, #harp-button {
  margin-bottom: 15px;
}


.options-container {
  display: flex;
  justify-content: space-around;
}

.results-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.no-margin {
  margin: 0;
}

.automatically-margined {
  margin: auto;
}

label {
  font-weight: 800;
}

.bordered {
  // border-bottom: 1px solid rgba(0,0,0,.15);
  margin-bottom: 15px;
  border-top: 1px solid rgba(0,0,0,.15);
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.barely-full-width {
  width: 95%;
  margin: auto;
}

.button {
  max-width: 32px;
  max-height: 32px;
  &:active {
    transform: translate(1px, -1px);
  }
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.result {
  font-weight: bold;
}

.settings {
  width: 24px;
  height: 24px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.fade {
  padding-right: 0;
}

.options {
  padding: 50px;
}

.custom-control {
  margin-bottom: 20px;
}


.caption {
  position: absolute;
  left: 10px;
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
}

// Media Queries

@media screen and (max-width: 900px) {
  .caption {
    display: none;
  }
}


@media screen and (max-width: 521px) {
  .circle-text {
    border-radius: 0;
  }
  .invisible {
    border: none;
  }
  .reed {
    max-width: 100vw;
  }

  .reed .number:first-of-type {
    border-left:  1px solid rgba(0, 0, 0, 0.54);
  }

  .number {
    border-top:    none;
    border-right:  1px solid rgba(0, 0, 0, 0.54) !important;
    border-bottom: none;
  }
}

.row {
  max-width: 100%;
}


@media screen and (max-width: 447px) {
  .circle-text {
    font-size: 28px;
  }
}

@media screen and (max-width: 402px) {
  .circle-text {
    font-size: 22px;
  }
  .number {
    height: 32px;

  }
}



