body {
  margin: 0;
  font-family: $body-font;
}

p {
  font-family: $body-font
}

html {
  background-color: #FFFFFF;
}

.harp-container {
  margin-bottom: 20px;
}

.circle-text {
display: inline-block;
height: 45px;
width: 45px;
margin-right: 5px;
text-align: center;
border-radius: 50%;
background: #000;
color: #fff;
font: 32px arial;
}


.number {
  border-radius: 0;
  background: transparent;
  color: rgba(0, 0, 0, 0.54);
}

.reed {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.overblow {
  background: #DBD56E;
  border-radius: 20%;
}

.blow-bend {
  background: #F06449;
}

.blow {
  background: #BA2D0B;
}

.draw {
  background: #003049;
}

.draw-bend {
  background: #249E8F;
}

.overdraw {
  background: #E5DC32;
  border-radius: 20%;
}

.note {
  margin-top: 0.16em ;
}

.invisible {
  background: transparent;
}

#pos-button, #song-button, #harp-button {
  margin-bottom: 15px;
}


@media screen and (max-width: 521px) {
  .circle-text {
    border-radius: 0;
    margin: 0px;
    border: 1px white solid;
  }
  .invisible {
    border: none;
  }
  .reed {
    max-width: 100vw;
  }

  .reed .number:first-of-type {
    border-left:  1px solid rgba(0, 0, 0, 0.54);
  }

  .number {
    border-top:    none;
    border-right:  1px solid rgba(0, 0, 0, 0.54) !important;
    border-bottom: none;
  }
}

.row {
  max-width: 100%;
}


@media screen and (max-width: 447px) {
  .circle-text {
    font-size: 28px;
  }
}

@media screen and (max-width: 402px) {
  .circle-text {
    font-size: 22px;
  }
  .number {
    height: 32px;

  }
}



