  <body>
    <div class="harp-container">

          <label for="key">Key</label>
          <select id="key">
            <option value="C">C</option>
            <option value="Db">C#</option>
            <option value="D">D</option>
            <option value="Eb">Eb</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="Gb">F#</option>
            <option value="G">G</option>
            <option value="Ab">Ab</option>
            <option value="A">A</option>
            <option value="Bb">Bb</option>
            <option value="B">B</option>
          </select>





      <div class="reed">
        <div class="number circle-text">1</div>
        <div class="number circle-text">2</div>
        <div class="number circle-text">3</div>
        <div class="number circle-text">4</div>
        <div class="number circle-text">5</div>
        <div class="number circle-text">6</div>
        <div class="number circle-text">7</div>
        <div class="number circle-text">8</div>
        <div class="number circle-text">9</div>
        <div class="number circle-text">10</div>
      </div>

      <div class="reed">
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="blow-bend circle-text"><p class = "note">Bb</p></div>
      </div>


      <div class="reed">
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="blow-bend circle-text"><p class = "note">Eb</p></div>
        <div class="blow-bend circle-text"><p class = "note">Gb</p></div>
        <div class="blow-bend circle-text"><p class = "note">B</p></div>
      </div>

      <div class="reed">
        <div class="blow circle-text"><p class = "note">C</p></div>
        <div class="blow circle-text"><p class = "note">E</p></div>
        <div class="blow circle-text"><p class = "note">G</p></div>
        <div class="blow circle-text"><p class = "note">C</p></div>
        <div class="blow circle-text"><p class = "note">E</p></div>
        <div class="blow circle-text"><p class = "note">G</p></div>
        <div class="blow circle-text"><p class = "note">C</p></div>
        <div class="blow circle-text"><p class = "note">E</p></div>
        <div class="blow circle-text"><p class = "note">G</p></div>
        <div class="blow circle-text"><p class = "note">C</p></div>
      </div>

      <div class="reed">
        <div class="draw circle-text"><p class = "note">D</p></div>
        <div class="draw circle-text"><p class = "note">G</p></div>
        <div class="draw circle-text"><p class = "note">B</p></div>
        <div class="draw circle-text"><p class = "note">D</p></div>
        <div class="draw circle-text"><p class = "note">F</p></div>
        <div class="draw circle-text"><p class = "note">A</p></div>
        <div class="draw circle-text"><p class = "note">B</p></div>
        <div class="draw circle-text"><p class = "note">D</p></div>
        <div class="draw circle-text"><p class = "note">F</p></div>
        <div class="draw circle-text"><p class = "note">A</p></div>
      </div>

      <div class="reed">
        <div class="draw-bend circle-text"><p class = "note">Db</p></div>
        <div class="draw-bend circle-text"><p class = "note">Gb</p></div>
        <div class="draw-bend circle-text"><p class = "note">Bb</p></div>
        <div class="draw-bend circle-text"><p class = "note">Db</p></div>
        <div class="circle-text invisible"></div>
        <div class="draw-bend circle-text"><p class = "note">Ab</p></div>
        <div class="circle-text invisible"><p class = "note"></p></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"><p class = "note"></p></div>
        <div class="circle-text invisible"><p class = "note"></p></div>
      </div>

      <div class="reed">
        <div class="circle-text invisible"></div>
        <div class="draw-bend circle-text"><p class = "note">F</p></div>
        <div class="draw-bend circle-text"><p class = "note">A</p></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
      </div>

      <div class="reed">
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="draw-bend circle-text"><p class = "note">Ab</p></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
        <div class="circle-text invisible"></div>
      </div>


      <div>
        <h2>Find a Position:</h2>

          <label for="pos-harp-key">Harmonica Key:</label>
          <select id="pos-harp-key">
            <option value="C">C</option>
            <option value="Db">Db</option>
            <option value="D">D</option>
            <option value="Eb">Eb</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="Gb">Gb</option>
            <option value="G">G</option>
            <option value="Ab">Ab</option>
            <option value="A">A</option>
            <option value="Bb">Bb</option>
            <option value="B">B</option>
          </select>

          <label for="pos-song-key">Song Key:</label>
          <select id="pos-song-key">
            <option value="C">C</option>
            <option value="Db">Db</option>
            <option value="D">D</option>
            <option value="Eb">Eb</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="Gb">Gb</option>
            <option value="G">G</option>
            <option value="Ab">Ab</option>
            <option value="A">A</option>
            <option value="Bb">Bb</option>
            <option value="B">B</option>
          </select>

          <button id="pos-button">Go!</button>

          <p id ='pos-result' style="display: inline-block;"></p>

      </div>

      <div>
        <h2>Find a Harmonica Key:</h2>

          <label for="harp-song-key">Song Key:</label>
          <select id="harp-song-key">
            <option value="C">C</option>
            <option value="Db">Db</option>
            <option value="D">D</option>
            <option value="Eb">Eb</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="Gb">Gb</option>
            <option value="G">G</option>
            <option value="Ab">Ab</option>
            <option value="A">A</option>
            <option value="Bb">Bb</option>
            <option value="B">B</option>
          </select>

          <label for="harp-pos">Position:</label>
          <select id="harp-pos">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>

          <button id="harp-button">Go!</button>

          <p id ='harp-result' style="display: inline-block;"></p>

      </div>


     <div>
        <h2>Find a Song Key:</h2>

          <label for="song-harp-key">Harmonica Key:</label>
          <select id="song-harp-key">
            <option value="C">C</option>
            <option value="Db">Db</option>
            <option value="D">D</option>
            <option value="Eb">Eb</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="Gb">Gb</option>
            <option value="G">G</option>
            <option value="Ab">Ab</option>
            <option value="A">A</option>
            <option value="Bb">Bb</option>
            <option value="B">B</option>
          </select>

          <label for="song-pos">Position:</label>
          <select id="song-pos">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>

          <button id="song-button">Go!</button>

          <p id ='song-result' style="display: inline-block;"></p>

      </div>








    </div>

  </body>
